{% extends "blog/base.html" %}
{% load bulma_tags blog_tags %}
{% block title %}{{ post.title }}{% endblock %}
{% block hero_title %}
<h1 class="title is-2 has-text-centered">{{ post.title }}</h1>
<p class="subtitle has-text-centered is-italic">Published {{ post.publish }} by {{ post.author.username }}</p>
{% endblock %}
{% block content %}
    <div class="box">
        <div class="block content">
            {{ post.body|indented|markdown }}
        </div>
        <div class="columns is-centered">
            <div class="column is-three-fifths">
                <div class="buttons is-centered">
                    <a class="button is-block is-fullwidth is-info" href="{% url 'blog:post_share' post.id %}">Share this Post</a>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-four_fifths">
            {% with comments.count as total_comments %}
            <h4 class="title has-text-centered has-text-weight-bold">
                {{ total_comments }} comment{{ total_comments|pluralize }}
            </h4>
            {% endwith %}
            {% for comment in comments %}
            <div class="card has-background-{% cycle 'primary-dark' 'primary' %} m-auto">
                <div class="card-header">
                    <div class="card-header-title">
                        {{ comment.name }}
                    </div>
                    <p class="subtitle has-text-weight-light is-italic is-size-7">@{{ comment.created }}</p>
                </div>
                <div class="card-content">
                    {{ comment.body|indented }}
                </div>
            </div>
            <br>
            {% empty %}
            <div class="message is-warning is-light">
                <div class="message-body">
                    <div class="content">
                        <p class="indented is-italic">There not yet any comments made for this post.</p>
                        <p>Be the first and comment with the form below!</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% resetcycle %}
            <br />
            <div class="columns">
                <div class="column is-two-thirds">
                    {% include "blog/post/includes/comment_form.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block sidenav %}
<h4 class="menu-label">Similar posts</h4>
<ul class="menu-list">
    {% for post in similar_posts %}
    <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
